<div class="panel panel-default">
  <div class="panel-body">
    <div class='row'>
      <div class='col-lg-6 col-lg-offset-3 form-group text-center'>
        <label class='control-label'> Nome do Local: </label>
        <%= f.text_field :name, :class => "form-control text-center", readonly: true %>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-lg-offset-3 form-group text-center'>
        <label class='control-label'> Endereço do Local: </label>
        <%= f.text_field :address, :class => "form-control text-center", readonly: true %>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-6 col-lg-offset-3 form-group text-center'>
        <label class='control-label'> Nota Total: </label>
          <div class='row'>
            <label class='radio-inline'>1<%= f.radio_button :rating, '1', :class => "teste" %></label>
            <label class='radio-inline'>2<%= f.radio_button :rating, '2', :class => "teste" %></label>
            <label class='radio-inline'>3<%= f.radio_button :rating, '3', :class => "teste" %></label>
            <label class='radio-inline'>4<%= f.radio_button :rating, '4', :class => "teste" %></label>
            <label class='radio-inline'>5<%= f.radio_button :rating, '5', :class => "teste" %></label>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-2 col-lg-offset-7 form-group text-center spacer'>
      <%= f.submit "Enviar Nota", :class=> "form-control btn btn-primary" %>
    </div>
  </div>
</div>
