<!DOCTYPE html>
<html>
<head>
  <title>Não me calo!!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/header' %>
  </header>

  <section class="min-height-pages">
      <%= yield %>
  </section>

</body>
</html>
